<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h3 class="mt-5">Live Streaming</h3>
            <a href="#" id="log_out">Log out</a>
            <img alt="video_feed" src="{{ url_for('video_feed') }}" width="100%">
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
</body>